

/*----------------------------
------------Base Type selector*-------------
--------------------------------*/
*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Work Sans', sans-serif;
}
html,body{
  height:100vh;
}
body{
  background:#faebd7;
  text-align: center;
  max-width: 1024px;

  /*margin:0 auto;*/

}
body p{
  width:300px;
  padding:10px;
  margin:12px auto;
}
ul {
list-style:none;
padding-left:0;
}
a{
  text-transform: uppercase;
  text-decoration:none;
  color:black;
}
a:hover{
 color:blue;
}
nav {
 font-weight:400;
 letter-spacing: .05em;
 padding:25px;
}
h1{
   padding:25px;

}
h1,.main-nav {
 text-align: center;
}
h1 a, .main-nav a{
 color:#000;
}

h2{
   margin-top: 5px;
   padding-top:5px;
   padding-bottom: 10px;
   text-align: center;
}
h6{
   padding:10px;
   font-size: 1em;
   font-weight: bold;
   margin-bottom: 0;
   text-align: center;
}


/*-------------------------------
------------CLASS Selector------------
-------------------------------*/
.image{
  max-width: 100%;
  width:300px;
  border-radius:.4em;
}
.pro-picture{
max-width: 100%;
order:1;
}
.image, .pro-picture{
  padding:0 3px;
}
.main-nav li{
  padding:10px 0;
  margin: 5px 0;
  background-color: #fff;
}
.main-nav, .main-nav li{
  width:100%;
}
.main-nav{
  margin-top: 30px;
}


.last-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding:0 20px;
  height:100px;
  background: coral;
}

.last-footer h2{
  margin:0;
  padding:0;
}
.full{
display: none;
}
.top-page{
  align-items: center;
}



/*------------------------------
------------ ID Selector----------
--------------------------------*/
#main-box{
  max-width:100%;
  padding-top: 15px;
  background-color: burlywood;
}


/*-------------------------
-------@media queries-------*/
@media  (min-width:768px){

.top-page,
.main-nav{
      display:flex;
      justify-content: center;
  }


  .main-nav{
    margin-top:0;
  }
  .main-nav li{
      display: inline-block;
      width:auto;
      margin-right: 15px;
      background-color: transparent;
    }
    .main-nav li:last-child{
    margin-right: 0;
  }
  .top-page p{
     width:65% ;
     text-align:start;
     margin: 0;
  }

  .main-container{
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }

  .top{
      display:none;
  }
 .full{
      display: inline-block;
      margin-left: 15px;

  }

}

/*-------------------------
-------@media queries-------*/
@media (min-width: 1024px){
    header{
      display:flex;
      justify-content:space-between;
      align-items: center;
      flex-direction: row;
    }

    .main-nav, .main-nav li{
      width:initial;
      margin-bottom: 0;
    }

}

   