/*Base Type selector*/
*{
    box-sizing: border-box;
}
body{
    background:#faebd7;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin:0 auto;
    max-width: 1024px;
}
body p{
    width:300px;
    padding:10px;
    margin:12px auto;
}
ul {
  list-style:none;
  padding-left:0;
}
  a{
    text-decoration:none;
     color:black;
 }
 nav {
   font-weight:400;
   letter-spacing: .05em;
   background-color:	#ffe4c4;
   padding:25px;
 }
 h1,.main-nav {
   text-align: center;
 }
 h1 a, .main-nav a{
   color:#000;
 }

 }
 h6{
     font-size:1em;
     font-weight:bold;
     margin-bottom: 10px;
 }
 h2{
     margin-top: 5px;
     padding-bottom: 10px;
 }


/*CLASS Selector*/
.image{
    width: 300px;
    border-radius:.4em;
}
  .main-nav li{
    padding:10px 0;
    margin: 5px 0;
  }
  .main-nav, .main-nav li{
    width:100%;
  }
  .main-nav{
    margin-top: 30px;
  }



/* ID Selector*/
#main-box{
    padding-top:5px;
    margin-top: 15px;
    background-color: burlywood;
}


/*@media queries*/
@media  (min-width:768px){

  .top-page,
  .main-nav{
        display:flex;
    }
    .main-nav li{
        display: inline-flex;
        width:auto;
        margin-right: 15px;

    }
    .main-nav{
      margin-top:0;
    }
    .main-nav li:last-child{
      margin-right: 0;
    }

    .pro-picture{
        width:300px;
        order:1;
    }
    .top-page p{
      flex-basis:70% ;
       align-items:flex-start;
       margin-bottom: auto;
       margin-top: 0;
    }


    .main-container{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

}

    @media (min-width: 1024px){
      nav{
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
      }



    



}
